// font
$base-font-family: Inter, Arial, sans-serif;
// colors

$basic-black: #151515;
$light-black: #222;
$darkest-grey: #2f2f2f;
$darker-grey: #333;
$dark-grey: #434343;
$carbon-grey: #545454;
$light-grey: #565656;
$basic-grey: #c7c7c7;
$footer-grey: #cfcfcf;
$grey: #f4f4f4;
$another-grey: #d7d4d4;
$light-grey: #e5e5e5;
$lighter-grey: #ebebeb;
$lightest-grey: #efefef;
$pure-white: #fff;
$basic-green: #24b47e;
$dark-green: #319e75;

$light-theme-background: $grey;



