.footer {
  background-color: $lightest-grey;
  padding: 80px 120px 60px 120px;

  &__header {
    @include base-font(24px, 600, 1.33);
    color: $basic-black;
    width: 229px;
    margin: 0 0 50px 0;
  }

  &__input {
    width: 360px;
    height: 50px; //Wrong!
    border: 1px solid $basic-grey;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: $lightest-grey;
    padding: 0 20px;
    @include base-font(13px, 500, 2.15);
    color: $basic-black;
  }

  &__copyright {
    display: block;
    margin: 100px 0 0 0;
    @include base-font(14px, 600, 1.4);
    color: $footer-grey;
  }

  &__bottom {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__switcher-block {
    display: flex;
    align-items: center;
  }

  &__switcher {
    display: inline-block;
    position: relative;
    width: 44px;
    height: 24px;
    border-radius: 24px;
    background-color: $pure-white;
    margin: 0 22px;
  }

  &__switcher-input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__switcher-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $pure-white;
    border-radius: 50%;
    transition: .2s;

      &:before {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        left: 2px;
        top: 2px;
        background-color: $basic-green;
        transition: .2s;
        border-radius: 50%;
      }

  }

  .footer__switcher-input:checked + .footer__switcher-button:before {
    transform: translateX(20px);
  }
}