.footer {
  background-color: $lightest-grey;
  padding: 80px 120px 60px 120px;

  &__header {
    @include base-font(24px, 600, 1.33);
    color: $basic-black;
    width: 229px;
    margin: 0 0 50px 0;
  }

  &__input {
    width: 360px;
    height: 50px; //Wrong!
    border: 1px solid $basic-grey;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: $lightest-grey;
    padding: 0 20px;
    @include base-font(13px, 500, 2.15);
    color: $basic-black;
  }

  &__copyright {
    display: block;
    margin: 100px 0 0 0;
    @include base-font(14px, 600, 1.4);
    color: $footer-grey;
  }
}